@page
@model CPMS.Pages.Reviews.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ReviewId" />
            <div class="form-group">
                <label asp-for="Review.PaperId" class="control-label"></label>
                <select asp-for="Review.PaperId" class="form-control" asp-items="ViewBag.PaperId"></select>
                <span asp-validation-for="Review.PaperId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.ReviewerId" class="control-label"></label>
                <select asp-for="Review.ReviewerId" class="form-control" asp-items="ViewBag.ReviewerId"></select>
                <span asp-validation-for="Review.ReviewerId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.AppropriatenessOfTopic" class="control-label"></label>
                <input asp-for="Review.AppropriatenessOfTopic" class="form-control" />
                <span asp-validation-for="Review.AppropriatenessOfTopic" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.TimelinessOfTopic" class="control-label"></label>
                <input asp-for="Review.TimelinessOfTopic" class="form-control" />
                <span asp-validation-for="Review.TimelinessOfTopic" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.SupportiveEvidence" class="control-label"></label>
                <input asp-for="Review.SupportiveEvidence" class="form-control" />
                <span asp-validation-for="Review.SupportiveEvidence" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.TechnicalQuality" class="control-label"></label>
                <input asp-for="Review.TechnicalQuality" class="form-control" />
                <span asp-validation-for="Review.TechnicalQuality" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.ScopeOfCoverage" class="control-label"></label>
                <input asp-for="Review.ScopeOfCoverage" class="form-control" />
                <span asp-validation-for="Review.ScopeOfCoverage" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.CitationOfPreviousWork" class="control-label"></label>
                <input asp-for="Review.CitationOfPreviousWork" class="form-control" />
                <span asp-validation-for="Review.CitationOfPreviousWork" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.Originality" class="control-label"></label>
                <input asp-for="Review.Originality" class="form-control" />
                <span asp-validation-for="Review.Originality" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.ContentComments" class="control-label"></label>
                <input asp-for="Review.ContentComments" class="form-control" />
                <span asp-validation-for="Review.ContentComments" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.OrganizationOfPaper" class="control-label"></label>
                <input asp-for="Review.OrganizationOfPaper" class="form-control" />
                <span asp-validation-for="Review.OrganizationOfPaper" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.ClarityOfMainMessage" class="control-label"></label>
                <input asp-for="Review.ClarityOfMainMessage" class="form-control" />
                <span asp-validation-for="Review.ClarityOfMainMessage" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.Mechanics" class="control-label"></label>
                <input asp-for="Review.Mechanics" class="form-control" />
                <span asp-validation-for="Review.Mechanics" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.WrittenDocumentComments" class="control-label"></label>
                <input asp-for="Review.WrittenDocumentComments" class="form-control" />
                <span asp-validation-for="Review.WrittenDocumentComments" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.SuitabilityForPresentation" class="control-label"></label>
                <input asp-for="Review.SuitabilityForPresentation" class="form-control" />
                <span asp-validation-for="Review.SuitabilityForPresentation" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.PotentialInterestInTopic" class="control-label"></label>
                <input asp-for="Review.PotentialInterestInTopic" class="form-control" />
                <span asp-validation-for="Review.PotentialInterestInTopic" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.PotentialForOralPresentationComments" class="control-label"></label>
                <input asp-for="Review.PotentialForOralPresentationComments" class="form-control" />
                <span asp-validation-for="Review.PotentialForOralPresentationComments" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.OverallRating" class="control-label"></label>
                <input asp-for="Review.OverallRating" class="form-control" />
                <span asp-validation-for="Review.OverallRating" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.OverallRatingComments" class="control-label"></label>
                <input asp-for="Review.OverallRatingComments" class="form-control" />
                <span asp-validation-for="Review.OverallRatingComments" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.ComfortLevelTopic" class="control-label"></label>
                <input asp-for="Review.ComfortLevelTopic" class="form-control" />
                <span asp-validation-for="Review.ComfortLevelTopic" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Review.ComfortLevelAcceptability" class="control-label"></label>
                <input asp-for="Review.ComfortLevelAcceptability" class="form-control" />
                <span asp-validation-for="Review.ComfortLevelAcceptability" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Review.Complete" /> @Html.DisplayNameFor(model => model.Review.Complete)
                </label>
                <span asp-validation-for="Review.Complete" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
