@page
@model CPMS.Pages.Reviewers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reviewer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reviewer.ReviewerId" />
            <div class="form-group">
                <label asp-for="Reviewer.Active" class="control-label"></label>
                <input asp-for="Reviewer.Active" class="form-control" />
                <span asp-validation-for="Reviewer.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.FirstName" class="control-label"></label>
                <input asp-for="Reviewer.FirstName" class="form-control" />
                <span asp-validation-for="Reviewer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.MiddleInitial" class="control-label"></label>
                <input asp-for="Reviewer.MiddleInitial" class="form-control" />
                <span asp-validation-for="Reviewer.MiddleInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.LastName" class="control-label"></label>
                <input asp-for="Reviewer.LastName" class="form-control" />
                <span asp-validation-for="Reviewer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Affiliation" class="control-label"></label>
                <input asp-for="Reviewer.Affiliation" class="form-control" />
                <span asp-validation-for="Reviewer.Affiliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Department" class="control-label"></label>
                <input asp-for="Reviewer.Department" class="form-control" />
                <span asp-validation-for="Reviewer.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Address" class="control-label"></label>
                <input asp-for="Reviewer.Address" class="form-control" />
                <span asp-validation-for="Reviewer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.City" class="control-label"></label>
                <input asp-for="Reviewer.City" class="form-control" />
                <span asp-validation-for="Reviewer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.State" class="control-label"></label>
                <input asp-for="Reviewer.State" class="form-control" />
                <span asp-validation-for="Reviewer.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.ZipCode" class="control-label"></label>
                <input asp-for="Reviewer.ZipCode" class="form-control" />
                <span asp-validation-for="Reviewer.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.PhoneNumber" class="control-label"></label>
                <input asp-for="Reviewer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Reviewer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.EmailAddress" class="control-label"></label>
                <input asp-for="Reviewer.EmailAddress" class="form-control" />
                <span asp-validation-for="Reviewer.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Password" class="control-label"></label>
                <input asp-for="Reviewer.Password" class="form-control" />
                <span asp-validation-for="Reviewer.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.AnalysisOfAlgorithms" class="control-label"></label>
                <input asp-for="Reviewer.AnalysisOfAlgorithms" class="form-control" />
                <span asp-validation-for="Reviewer.AnalysisOfAlgorithms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Applications" class="control-label"></label>
                <input asp-for="Reviewer.Applications" class="form-control" />
                <span asp-validation-for="Reviewer.Applications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Architecture" class="control-label"></label>
                <input asp-for="Reviewer.Architecture" class="form-control" />
                <span asp-validation-for="Reviewer.Architecture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.ArtificialIntelligence" class="control-label"></label>
                <input asp-for="Reviewer.ArtificialIntelligence" class="form-control" />
                <span asp-validation-for="Reviewer.ArtificialIntelligence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.ComputerEngineering" class="control-label"></label>
                <input asp-for="Reviewer.ComputerEngineering" class="form-control" />
                <span asp-validation-for="Reviewer.ComputerEngineering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Curriculum" class="control-label"></label>
                <input asp-for="Reviewer.Curriculum" class="form-control" />
                <span asp-validation-for="Reviewer.Curriculum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.DataStructures" class="control-label"></label>
                <input asp-for="Reviewer.DataStructures" class="form-control" />
                <span asp-validation-for="Reviewer.DataStructures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Databases" class="control-label"></label>
                <input asp-for="Reviewer.Databases" class="form-control" />
                <span asp-validation-for="Reviewer.Databases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.DistancedLearning" class="control-label"></label>
                <input asp-for="Reviewer.DistancedLearning" class="form-control" />
                <span asp-validation-for="Reviewer.DistancedLearning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.DistributedSystems" class="control-label"></label>
                <input asp-for="Reviewer.DistributedSystems" class="form-control" />
                <span asp-validation-for="Reviewer.DistributedSystems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.EthicalSocietalIssues" class="control-label"></label>
                <input asp-for="Reviewer.EthicalSocietalIssues" class="form-control" />
                <span asp-validation-for="Reviewer.EthicalSocietalIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.FirstYearComputing" class="control-label"></label>
                <input asp-for="Reviewer.FirstYearComputing" class="form-control" />
                <span asp-validation-for="Reviewer.FirstYearComputing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.GenderIssues" class="control-label"></label>
                <input asp-for="Reviewer.GenderIssues" class="form-control" />
                <span asp-validation-for="Reviewer.GenderIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.GrantWriting" class="control-label"></label>
                <input asp-for="Reviewer.GrantWriting" class="form-control" />
                <span asp-validation-for="Reviewer.GrantWriting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.GraphicsImageProcessing" class="control-label"></label>
                <input asp-for="Reviewer.GraphicsImageProcessing" class="form-control" />
                <span asp-validation-for="Reviewer.GraphicsImageProcessing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.HumanComputerInteraction" class="control-label"></label>
                <input asp-for="Reviewer.HumanComputerInteraction" class="form-control" />
                <span asp-validation-for="Reviewer.HumanComputerInteraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.LaboratoryEnvironments" class="control-label"></label>
                <input asp-for="Reviewer.LaboratoryEnvironments" class="form-control" />
                <span asp-validation-for="Reviewer.LaboratoryEnvironments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Literacy" class="control-label"></label>
                <input asp-for="Reviewer.Literacy" class="form-control" />
                <span asp-validation-for="Reviewer.Literacy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.MathematicsInComputing" class="control-label"></label>
                <input asp-for="Reviewer.MathematicsInComputing" class="form-control" />
                <span asp-validation-for="Reviewer.MathematicsInComputing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Multimedia" class="control-label"></label>
                <input asp-for="Reviewer.Multimedia" class="form-control" />
                <span asp-validation-for="Reviewer.Multimedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.NetworkingDataCommunications" class="control-label"></label>
                <input asp-for="Reviewer.NetworkingDataCommunications" class="form-control" />
                <span asp-validation-for="Reviewer.NetworkingDataCommunications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.NonMajorCourses" class="control-label"></label>
                <input asp-for="Reviewer.NonMajorCourses" class="form-control" />
                <span asp-validation-for="Reviewer.NonMajorCourses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.ObjectOrientedIssues" class="control-label"></label>
                <input asp-for="Reviewer.ObjectOrientedIssues" class="form-control" />
                <span asp-validation-for="Reviewer.ObjectOrientedIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.OperatingSystems" class="control-label"></label>
                <input asp-for="Reviewer.OperatingSystems" class="form-control" />
                <span asp-validation-for="Reviewer.OperatingSystems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.ParallelProcessing" class="control-label"></label>
                <input asp-for="Reviewer.ParallelProcessing" class="form-control" />
                <span asp-validation-for="Reviewer.ParallelProcessing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Pedagogy" class="control-label"></label>
                <input asp-for="Reviewer.Pedagogy" class="form-control" />
                <span asp-validation-for="Reviewer.Pedagogy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.ProgrammingLanguages" class="control-label"></label>
                <input asp-for="Reviewer.ProgrammingLanguages" class="form-control" />
                <span asp-validation-for="Reviewer.ProgrammingLanguages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Research" class="control-label"></label>
                <input asp-for="Reviewer.Research" class="form-control" />
                <span asp-validation-for="Reviewer.Research" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Security" class="control-label"></label>
                <input asp-for="Reviewer.Security" class="form-control" />
                <span asp-validation-for="Reviewer.Security" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.SoftwareEngineering" class="control-label"></label>
                <input asp-for="Reviewer.SoftwareEngineering" class="form-control" />
                <span asp-validation-for="Reviewer.SoftwareEngineering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.SystemsAnalysisAndDesign" class="control-label"></label>
                <input asp-for="Reviewer.SystemsAnalysisAndDesign" class="form-control" />
                <span asp-validation-for="Reviewer.SystemsAnalysisAndDesign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.UsingTechnologyInTheClassroom" class="control-label"></label>
                <input asp-for="Reviewer.UsingTechnologyInTheClassroom" class="form-control" />
                <span asp-validation-for="Reviewer.UsingTechnologyInTheClassroom" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Reviewer.WebAndInternetProgramming" /> @Html.DisplayNameFor(model => model.Reviewer.WebAndInternetProgramming)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Other" class="control-label"></label>
                <input asp-for="Reviewer.Other" class="form-control" />
                <span asp-validation-for="Reviewer.Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.OtherDescription" class="control-label"></label>
                <input asp-for="Reviewer.OtherDescription" class="form-control" />
                <span asp-validation-for="Reviewer.OtherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.ReviewsAcknowledged" class="control-label"></label>
                <input asp-for="Reviewer.ReviewsAcknowledged" class="form-control" />
                <span asp-validation-for="Reviewer.ReviewsAcknowledged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
