@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Conference Paper Management System</h1>
    <p>Please select an option from above.</p>
</div>
