@page
@model ReportsModel
@{
    ViewData["Title"] = "Reports";
}
<h1>@ViewData["Title"]</h1>
<!-- if user is not admin, show "You do not have access to this feature."-->
<!-- else:-->
<div>
    <h1>Reports</h1>
    <hr />

    <button type="button">Generate Reviews Summary Report</button>
    <button type="button">Generate Authors Report</button>
    <button type="button">Generate Reviewers Report</button>
    <button type="button">Generate Reviewers Comments Report</button>
</div>