@page
@model CPMS.Pages.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Paper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Paper.PaperId" />
            <div class="form-group">
                <label asp-for="Paper.AuthorId" class="control-label"></label>
                <select asp-for="Paper.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="Paper.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Active" class="control-label"></label>
                <input asp-for="Paper.Active" class="form-control" />
                <span asp-validation-for="Paper.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.FilenameOriginal" class="control-label"></label>
                <input asp-for="Paper.FilenameOriginal" class="form-control" />
                <span asp-validation-for="Paper.FilenameOriginal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Filename" class="control-label"></label>
                <input asp-for="Paper.Filename" class="form-control" />
                <span asp-validation-for="Paper.Filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Title" class="control-label"></label>
                <input asp-for="Paper.Title" class="form-control" />
                <span asp-validation-for="Paper.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Certification" class="control-label"></label>
                <input asp-for="Paper.Certification" class="form-control" />
                <span asp-validation-for="Paper.Certification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.NotesToReviewers" class="control-label"></label>
                <input asp-for="Paper.NotesToReviewers" class="form-control" />
                <span asp-validation-for="Paper.NotesToReviewers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.AnalysisOfAlgorithms" class="control-label"></label>
                <input asp-for="Paper.AnalysisOfAlgorithms" class="form-control" />
                <span asp-validation-for="Paper.AnalysisOfAlgorithms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Applications" class="control-label"></label>
                <input asp-for="Paper.Applications" class="form-control" />
                <span asp-validation-for="Paper.Applications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Architecture" class="control-label"></label>
                <input asp-for="Paper.Architecture" class="form-control" />
                <span asp-validation-for="Paper.Architecture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.ArtificialIntelligence" class="control-label"></label>
                <input asp-for="Paper.ArtificialIntelligence" class="form-control" />
                <span asp-validation-for="Paper.ArtificialIntelligence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.ComputerEngineering" class="control-label"></label>
                <input asp-for="Paper.ComputerEngineering" class="form-control" />
                <span asp-validation-for="Paper.ComputerEngineering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Curriculum" class="control-label"></label>
                <input asp-for="Paper.Curriculum" class="form-control" />
                <span asp-validation-for="Paper.Curriculum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.DataStructures" class="control-label"></label>
                <input asp-for="Paper.DataStructures" class="form-control" />
                <span asp-validation-for="Paper.DataStructures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Databases" class="control-label"></label>
                <input asp-for="Paper.Databases" class="form-control" />
                <span asp-validation-for="Paper.Databases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.DistanceLearning" class="control-label"></label>
                <input asp-for="Paper.DistanceLearning" class="form-control" />
                <span asp-validation-for="Paper.DistanceLearning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.DistributedSystems" class="control-label"></label>
                <input asp-for="Paper.DistributedSystems" class="form-control" />
                <span asp-validation-for="Paper.DistributedSystems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.EthicalSocietalIssues" class="control-label"></label>
                <input asp-for="Paper.EthicalSocietalIssues" class="form-control" />
                <span asp-validation-for="Paper.EthicalSocietalIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.FirstYearComputing" class="control-label"></label>
                <input asp-for="Paper.FirstYearComputing" class="form-control" />
                <span asp-validation-for="Paper.FirstYearComputing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.GenderIssues" class="control-label"></label>
                <input asp-for="Paper.GenderIssues" class="form-control" />
                <span asp-validation-for="Paper.GenderIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.GrantWriting" class="control-label"></label>
                <input asp-for="Paper.GrantWriting" class="form-control" />
                <span asp-validation-for="Paper.GrantWriting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.GraphicsImageProcessing" class="control-label"></label>
                <input asp-for="Paper.GraphicsImageProcessing" class="form-control" />
                <span asp-validation-for="Paper.GraphicsImageProcessing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.HumanComputerInteraction" class="control-label"></label>
                <input asp-for="Paper.HumanComputerInteraction" class="form-control" />
                <span asp-validation-for="Paper.HumanComputerInteraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.LaboratoryEnvironments" class="control-label"></label>
                <input asp-for="Paper.LaboratoryEnvironments" class="form-control" />
                <span asp-validation-for="Paper.LaboratoryEnvironments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Literacy" class="control-label"></label>
                <input asp-for="Paper.Literacy" class="form-control" />
                <span asp-validation-for="Paper.Literacy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.MathematicsInComputing" class="control-label"></label>
                <input asp-for="Paper.MathematicsInComputing" class="form-control" />
                <span asp-validation-for="Paper.MathematicsInComputing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Multimedia" class="control-label"></label>
                <input asp-for="Paper.Multimedia" class="form-control" />
                <span asp-validation-for="Paper.Multimedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.NetworkingDataCommunications" class="control-label"></label>
                <input asp-for="Paper.NetworkingDataCommunications" class="form-control" />
                <span asp-validation-for="Paper.NetworkingDataCommunications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.NonMajorCourses" class="control-label"></label>
                <input asp-for="Paper.NonMajorCourses" class="form-control" />
                <span asp-validation-for="Paper.NonMajorCourses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.ObjectOrientedIssues" class="control-label"></label>
                <input asp-for="Paper.ObjectOrientedIssues" class="form-control" />
                <span asp-validation-for="Paper.ObjectOrientedIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.OperatingSystems" class="control-label"></label>
                <input asp-for="Paper.OperatingSystems" class="form-control" />
                <span asp-validation-for="Paper.OperatingSystems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.ParallelsProcessing" class="control-label"></label>
                <input asp-for="Paper.ParallelsProcessing" class="form-control" />
                <span asp-validation-for="Paper.ParallelsProcessing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Pedagogy" class="control-label"></label>
                <input asp-for="Paper.Pedagogy" class="form-control" />
                <span asp-validation-for="Paper.Pedagogy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.ProgrammingLanguages" class="control-label"></label>
                <input asp-for="Paper.ProgrammingLanguages" class="form-control" />
                <span asp-validation-for="Paper.ProgrammingLanguages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Research" class="control-label"></label>
                <input asp-for="Paper.Research" class="form-control" />
                <span asp-validation-for="Paper.Research" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Security" class="control-label"></label>
                <input asp-for="Paper.Security" class="form-control" />
                <span asp-validation-for="Paper.Security" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.SoftwareEngineering" class="control-label"></label>
                <input asp-for="Paper.SoftwareEngineering" class="form-control" />
                <span asp-validation-for="Paper.SoftwareEngineering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.SystemsAnalysisAndDesign" class="control-label"></label>
                <input asp-for="Paper.SystemsAnalysisAndDesign" class="form-control" />
                <span asp-validation-for="Paper.SystemsAnalysisAndDesign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.UsingTechnologyInTheClassroom" class="control-label"></label>
                <input asp-for="Paper.UsingTechnologyInTheClassroom" class="form-control" />
                <span asp-validation-for="Paper.UsingTechnologyInTheClassroom" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paper.WebAndInternetProgramming" /> @Html.DisplayNameFor(model => model.Paper.WebAndInternetProgramming)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Paper.Other" class="control-label"></label>
                <input asp-for="Paper.Other" class="form-control" />
                <span asp-validation-for="Paper.Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.OtherDescription" class="control-label"></label>
                <input asp-for="Paper.OtherDescription" class="form-control" />
                <span asp-validation-for="Paper.OtherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
